* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Brown Bold";
  src: url(fonts/Brown\ Bold.ttf);
}

@font-face {
  font-family: "Brown Light";
  src: url(fonts/BrownLight\ Regular.ttf);
}

@font-face {
  font-family: "Brown Medium";
  src: url(fonts/BrownMedium\ Regular.ttf);
}

@font-face {
  font-family: "Sofia Pro";
  src: url(fonts/sofiapro-light.otf);
}
#body {
  width: 100%;
  height: 700px;
  flex-shrink: 0;
  background: var(--CL-Green, rgb(46, 196, 182, 0.04));
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#img {
  width: 4.83331rem;
  height: 5rem;
  flex-shrink: 0;
}

#for {
  width: 16.75rem;
  height: 3.125rem;
  font-family: "Brown";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.125rem; /* 125% */
  letter-spacing: -0.05rem;
  color: #000b0a;
}

#for2 {
  width: 28.75rem;
  height: 4.6875rem;
  font-family: "Brown Light";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem;
  color: #737373;
}

#group9 {
  width: 460px;
  height: 17.1875rem;
  padding-left: 1.5rem;
}

#form {
  width: 34rem;
  height: 600px;
  flex-shrink: 0;
  border-radius: 0.375rem;
  background: #fff;
  box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.1);
  flex: 0.65;
  padding: 1em 3em;
}

#registration-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#cont1 {
  display: flex;
  flex-direction: row;
  gap: 1.4em;
  justify-content: space-between;
}

#first-name {
  display: flex;
  flex-direction: column;
  color: var(--Text-Headings, #011c34);
  font-family: Sofia Pro;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.00625rem;
}

#fname {
  width: 14rem;
  height: 3.5em;
  flex-shrink: 0;
  color: var(--Text-Headings, #011c34);
  font-family: Sofia Pro;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.0125rem;
  border-color: #2ec4b6;
  margin-top: 5px;
  padding-left: 7px;
}
#for3 {
  display: none;
}
#last-name {
  display: flex;
  flex-direction: column;
  color: var(--Text-Headings, #011c34);
  font-family: Sofia Pro;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.00625rem;
}

#lname {
  width: 14rem;
  height: 3.5em;
  flex-shrink: 0;
  color: var(--Text-Headings, #011c34);
  font-family: Sofia Pro;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.0125rem;
  margin-top: 5px;
  padding-left: 7px;
}

#cont2 {
  display: flex;
  flex-direction: row;
  gap: 1.4em;
  justify-content: space-between;
}

#gender {
  display: flex;
  flex-direction: column;
  color: var(--Text-Headings, #011c34);
  font-family: Sofia Pro;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.00625rem;
}

#gends {
  width: 14rem;
  height: 3.5em;
  flex-shrink: 0;
  color: var(--Text-Headings, #011c34);
  font-family: Sofia Pro;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.0125rem;
  margin-top: 5px;
  padding-left: 7px;
}
#d-o-b {
  display: flex;
  flex-direction: column;
  color: var(--Text-Headings, #011c34);
  font-family: Sofia Pro;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.00625rem;
}
#date {
  width: 14rem;
  height: 3.5em;
  flex-shrink: 0;
  color: var(--Text-Headings, #011c34);
  font-family: Sofia Pro;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.0125rem;
  margin-top: 5px;
  padding-left: 7px;
}

#cont3 {
  display: flex;
  flex-direction: row;
  gap: 1.4em;
  justify-content: space-between;
}

#weight {
  display: flex;
  flex-direction: column;
  color: var(--Text-Headings, #011c34);
  font-family: Sofia Pro;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.00625rem;
}

#weights {
  width: 14rem;
  height: 3.5em;
  flex-shrink: 0;
  color: var(--Text-Headings, #011c34);
  font-family: Sofia Pro;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.0125rem;
  margin-top: 5px;
  padding-left: 7px;
}

#height {
  display: flex;
  flex-direction: column;
  color: var(--Text-Headings, #011c34);
  font-family: Sofia Pro;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.00625rem;
}

#heights {
  width: 14rem;
  height: 3.5em;
  flex-shrink: 0;
  color: var(--Text-Headings, #011c34);
  font-family: Sofia Pro;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.0125rem;
  margin-top: 5px;
  padding-left: 7px;
}

#activityl {
  display: flex;
  flex-direction: column;
  color: var(--Text-Headings, #011c34);
  font-family: Sofia Pro;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.00625rem;
}

#activity {
  width: 29.25rem;
  height: 3.5em;
  flex-shrink: 0;
  color: var(--Text-Headings, #011c34);
  font-family: Sofia Pro;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.0125rem;
  margin-top: 5px;
  padding-left: 7px;
}

#password {
  display: flex;
  flex-direction: column;
  color: var(--Text-Headings, #011c34);
  font-family: Sofia Pro;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.00625rem;
}

#pwd {
  width: 29.25rem;
  height: 3.5em;
  flex-shrink: 0;
  color: var(--Text-Headings, #011c34);
  font-family: Sofia Pro;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.0125rem;
  margin-top: 5px;
  padding-left: 7px;
}

#regbot {
  width: 29.25rem;
  height: 3rem;
  flex-shrink: 0;
  background-color: var(--CL-Green, #2ec4b6);
  filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.1));
  color: white;
}

.register-links {
  color: var(--CL-Green, #2ec4b6);
  font-family: Sofia Pro;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5625rem;
  text-decoration-line: underline;
}

#formpa {
  color: #000;

  font-family: Sofia Pro;
  font-size: 0.775rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5625rem; /* 178.571% */
}

@media only screen and (max-width: 23.4375rem) {
  #body {
    display: flex;
    flex-direction: column;
    width: 28.4375rem;
    height: 48.875rem;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }

  #img {
    width: 2.41669rem;
    height: 2.5rem;
    flex-shrink: 0;
  }

  #for {
    width: 20.4375rem;
    height: 1.875rem;
    flex-shrink: 0;
    color: var(--CL-Black, #000b0a);
    font-family: Brown;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.05rem;
    color: #000b0a;
  }
  #for2 {
    display: none;
  }
  #for3 {
    display: block;
    width: 20.4375rem;
    padding-top: 30px;
    height: 4.6875rem;
    color: var(--CL-Grey, #737373);
    font-family: Brown;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5625rem; /* 156.25% */
  }
  #group9 {
    padding-top: 20px;
  }

  #form {
    width: 34rem;
    height: 600px;
    flex-shrink: 0;
    border-radius: 0.375rem;
    background: #fff;
    box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.1);
    flex: 0.65;
    padding: 1em 3em;
  }

  #registration-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  #cont1 {
    display: flex;
    flex-direction: column;
  }

  #first-name {
    display: flex;
    flex-direction: column;
    color: var(--Text-Headings, #011c34);
    font-family: Sofia Pro;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.00625rem;
  }

  #fname {
    width: 29.25rem;
    height: 3.5em;
    flex-shrink: 0;
    color: var(--Text-Headings, #011c34);
    font-family: Sofia Pro;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 142.857% */
    letter-spacing: 0.0125rem;
    border-color: #2ec4b6;
    margin-top: 5px;
    padding-left: 7px;
  }

  #last-name {
    display: flex;
    flex-direction: column;
    color: var(--Text-Headings, #011c34);
    font-family: Sofia Pro;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.00625rem;
  }

  #lname {
    width: 29.25rem;
    height: 3.5em;
    flex-shrink: 0;
    color: var(--Text-Headings, #011c34);
    font-family: Sofia Pro;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 142.857% */
    letter-spacing: 0.0125rem;
    margin-top: 5px;
    padding-left: 7px;
  }

  #cont2 {
    display: flex;
    flex-direction: column;
    gap: 1.4em;
    justify-content: space-between;
  }

  #gender {
    display: flex;
    flex-direction: column;
    color: var(--Text-Headings, #011c34);
    font-family: Sofia Pro;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.00625rem;
  }

  #gends {
    width: 29.25rem;
    height: 3.5em;
    flex-shrink: 0;
    color: var(--Text-Headings, #011c34);
    font-family: Sofia Pro;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 142.857% */
    letter-spacing: 0.0125rem;
    margin-top: 5px;
    padding-left: 7px;
  }
  #d-o-b {
    display: flex;
    flex-direction: column;
    color: var(--Text-Headings, #011c34);
    font-family: Sofia Pro;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.00625rem;
  }
  #date {
    width: 29.25rem;
    height: 3.5em;
    flex-shrink: 0;
    color: var(--Text-Headings, #011c34);
    font-family: Sofia Pro;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem; /* 142.857% */
    letter-spacing: 0.0125rem;
    margin-top: 5px;
    padding-left: 7px;
  }

  #cont3 {
    display: flex;
    flex-direction: column;
    gap: 1.4em;
    justify-content: space-between;
  }

  #weight {
    display: flex;
    flex-direction: column;
    color: var(--Text-Headings, #011c34);
    font-family: Sofia Pro;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.00625rem;
  }

  #weights {
    width: 29.25rem;
    height: 3.5em;
    flex-shrink: 0;
    color: var(--Text-Headings, #011c34);
    font-family: Sofia Pro;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 142.857% */
    letter-spacing: 0.0125rem;
    margin-top: 5px;
    padding-left: 7px;
  }

  #height {
    display: flex;
    flex-direction: column;
    color: var(--Text-Headings, #011c34);
    font-family: Sofia Pro;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.00625rem;
  }

  #heights {
    width: 29.25rem;
    height: 3.5em;
    flex-shrink: 0;
    color: var(--Text-Headings, #011c34);
    font-family: Sofia Pro;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 142.857% */
    letter-spacing: 0.0125rem;
    margin-top: 5px;
    padding-left: 7px;
  }

  #activityl {
    display: flex;
    flex-direction: column;
    color: var(--Text-Headings, #011c34);
    font-family: Sofia Pro;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.00625rem;
  }

  #activity {
    width: 29.25rem;
    height: 3.5em;
    flex-shrink: 0;
    color: var(--Text-Headings, #011c34);
    font-family: Sofia Pro;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 142.857% */
    letter-spacing: 0.0125rem;
    margin-top: 5px;
    padding-left: 7px;
  }

  #password {
    display: flex;
    flex-direction: column;
    color: var(--Text-Headings, #011c34);
    font-family: Sofia Pro;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.00625rem;
  }

  #pwd {
    width: 29.25rem;
    height: 3.5em;
    flex-shrink: 0;
    color: var(--Text-Headings, #011c34);
    font-family: Sofia Pro;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 142.857% */
    letter-spacing: 0.0125rem;
    margin-top: 5px;
    padding-left: 7px;
  }

  #regbot {
    width: 29.25rem;
    height: 3rem;
    flex-shrink: 0;
    background-color: var(--CL-Green, #2ec4b6);
    filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.1));
    color: white;
  }

  .register-links {
    color: var(--CL-Green, #2ec4b6);
    font-family: Sofia Pro;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5625rem;
    text-decoration-line: underline;
  }

  #formpa {
    color: #000;

    font-family: Sofia Pro;
    font-size: 0.775rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5625rem; /* 178.571% */
  }
}
